#parse("commons/common.vm")
##add  package ' import
#call($class.imports.add("io.swagger.annotations.ApiModel"))
#call($class.imports.add("io.swagger.annotations.ApiModelProperty"))
##  add  annotation before the class
#set( $classAnnotation ='@ApiModel(value="'+${class.name}+'对象", description="'+$!{class.comment}+'")' )
#call($class.customSnippets.add($classAnnotation))
#foreach($field in ${class.fields})
#set( $fieldAnnotation =  '@ApiModelProperty(value = "'+${field.comment}+'")')
#call($field.customSnippets.add($fieldAnnotation) )
#end