# gitee
.gitee/

# gradle ignore

.gradle/
gradle/wrapper/gradle-wrapper.jar
gradlew
gradlew.bat
# *.jar
*.war
*.zip
*.tar
# *.tar.gz

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore

*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db


/output/
/*/output/
/build/
/*/build/
/out/
/*/out/
/target/
/*/target/

# logs dir
/logs/
/*/logs/
# tmp dir
/tmp/
/*/tmp/
/k-tmp/
/*/k-tmp/

/k-commons/src/test/resources/test/java-io-test/

