# gitee
.gitee/

# gradle ignore
target/

build/
.gradle/
gradle/wrapper/gradle-wrapper.jar
gradlew
gradlew.bat
# *.jar
*.war
*.zip
*.tar
# *.tar.gz

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
tmp/
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db
# logs
/*/logs/
/logs
*.log

/*/output/
/*/out/

/k-code-generator/src_generator/*
/k-commons/src/test/resources/test/java-io-test/

