# gitee
.gitee/

# gradle ignore
target/
output/
build/
.gradle/
gradle/wrapper/gradle-wrapper.jar
gradlew
gradlew.bat
# *.jar
*.war
*.zip
*.tar
# *.tar.gz

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
logs/
tmp/
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db
/k-code-generator/src_generator/*
!/k-commons/src/main/resources/io/github/kylinhunter/commons/logs

/*/out/
/k-commons/src/test/resources/test/java-io-test/
