#parse("io/github/kylinhunter/commons/generator/common.vm")
##add  package import
#call($class.imports.add("io.swagger.annotations.ApiModel"))
#call($class.imports.add("io.swagger.annotations.ApiModelProperty"))
##  define a snippet named 'class_before'
#set( $classAnnotation ='@ApiModel(value="'+${class.name}+'", description="'+$!{class.comment}+'")' )
#call($class.snippets.add("class_before",$classAnnotation))
#foreach($field in ${class.fields})
#set( $fieldAnnotation =  '@ApiModelProperty(value = "'+${field.comment}+'")')
##define a snippet named 'field_before'
#call($field.snippets.add("field_before",$fieldAnnotation) )
#end