#parse("commons/swagger.vm")
package ${class.packageName};
${class.imports("import ",";")}

/**
 * @description  $!{class.comment}
 * @author ${author}
 * @since ${date}
 **/
${class.snippets('class_before')}
public class ${class.name} ${class.superClass("extends ")} ${class.interfaces("implements ")}{
#foreach($field in ${class.fields})
    ${field.snippets('field_before')}
    private ${field.type} ${field.name};
#end

}
