#parse("commons/swagger_widget.vm")
package ${class.packageName};
${class.imports.toString("import ",";")}

/**
 * @description  $!{class.comment}
 * @author ${author}
 * @since ${date}
 **/
#foreach($pkg1 in ${class.customSnippets.snippets})
${pkg1};
#end
public class ${class.name} ${class.superClassName} ${class.interfaces}{

#foreach($field in ${class.fields})
    @ApiModelProperty(value = "${field.comment}")
    private ${field.type} ${field.name};
#end

}
