package ${class.packageName};
${class.imports.toString("import ",";")}
/**
 * @description  $!{class.comment}
 * @author ${author}
 * @since ${date}
 **/
public class ${class.name} ${class.superClassName} ${class.interfaces}{
#foreach($field in ${class.fields})
    private ${field.type} ${field.name}; // ${field.comment}
#end
}
