<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true">
    <include resource="io/github/kylinhunter/commons/kylinhunter-app-default.xml"/>
    <property name="app.name" value="k-commons"/>
    <property name="app.logging.log_file_path_prefix" value="./logs/${app.name}"/>
    <include resource="io/github/kylinhunter/commons/kylinhunter-app.xml"/>
</configuration>