package ${class.packageName};
${class.imports("import ",";")}
/**
 * @description  $!{class.comment}
 * @author ${author}
 * @since ${date}
 **/
public class ${class.name} ${class.superClass("extends ")} ${class.interfaces("implements ")}{
#foreach($field in ${class.fields})
    private ${field.type} ${field.name}; // ${field.comment}
#end
}
